* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
footer {
    background-color: black;
    color: white;
}

header {
    padding: 15px 30px;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

header nav {
    align-items: center;
    max-width: 1200px;
}

header ul {
    display: flex;
    gap: 35px;
}

footer {
    display: flex;
    align-items: center;
    padding: 100px 30px 40px 30px;
}

footer nav {
    max-width: 900px;
}

footer nav h1 {
    display: flex;
    align-items: flex-end;
}

footer nav ul > li {
    margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 768px) {
    header,
    footer {
        padding: 20px 0px;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        gap: 0px;
    }
    
    footer {
        padding-top: 90px;
    }

    footer nav h1 {
        display: block;
        margin-bottom: 35px;
    }
}
