* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
footer {
    background-color: black;
    color: white;
}

header {
    padding: 0px 30px;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}



header ul {
    display: flex;
    gap: 35px;
}

footer {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

footer nav {
    max-width: 900px;
}

footer nav h1 {
    margin: auto 0;
}

footer nav ul > li {
    margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 768px) {
    header,
    footer {
        padding: 15px 0px;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        gap: 0px;
    }
    
    footer {
        text-align: center;
    }
}
